body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #333;
    padding: 5px;
    color: yellow;
    border-radius: 15px; 
}

.navbar .logo {
    font-size: 1em;
    margin-top: 15px;
    margin-left: 20px;    
}

.calendar {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
}

.calendar-header h2 {
    margin: 0;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 38px;
    cursor: pointer;
}

.calendar-body {
    padding: 15px;
}

.day-names {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.nametag {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;    
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days div {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    margin-bottom: 5px;
}

.days div:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.days .today {
    background-color: #007bff;
    color: white;
}